@font-face { font-family: STARWARS; src: url('../../STARWARS.TTF'); }
body {
	background-color: black;
	color:black;

}

#backG {
	width: 950px;
	background-image: url('../images/background.jpg');
	background-size: cover;
	height: 950px;
	border:5px solid white;	
}
h1 {
	text-align: center;
	color:white;
	font-size: 75px;
	letter-spacing: 10px;
	font-family: STARWARS, sans-serif;
	white-space: nowrap;
}
.bottomText{
	margin-top: 25px;
	float:left;
	margin-left: 15px;
	font-size: 18px;
	color:white;
}
/*Controls the boxes*/
.funBox {
	width:150px;
	height:150px;
	border:2px solid green;
	float:left;
	margin-left: 15px;
	margin-bottom: 5px;
	background-color:white;
	text-align: center;
}
h3 {
	margin-left: 15px;
	font-family: STARWARS, sans-serif;
	letter-spacing: 3px;
	color:white;
}
button {
	margin-left: 50px;
	margin-top: 12px;
}
.btn-group-lg {
	padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}
/*Controls images*/
.chewy {
	width:68px;
	height:auto;
	margin-top: -9px;
}
.palp {
	width: 74px;
	height:auto;
	margin-top: -4px;
}
.leia {
	width: 74px;
	height:auto;
	margin-top: -7px;
}
.vader {
	width: 74px;
	height:auto;
	margin-top: -7px;
}
.startText {
	font-family: STARWARS, sans-serif;
	color:white;
	clear:both;
	white-space: nowrap;
}
.backRed {
	background-color: red;
}
#thirdRow {
	clear:both;
}
.backBlack {
	background-color: black;
	color:white;
}
.moveDown {
	clear:both;
}